thead {
    background-color: #4B6043; /* hunter green */
    color: white;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-size: 0.95rem;
    vertical-align: top;
}
